.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.sprite,
.spriteaft {
    position: relative;
}

.sprite:before,
.spriteaft:after {
    content: '';
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    background: url(../img/sprite.png) no-repeat;
    width: 20px;
    height: 20px;
}

.spriteaft:after {
    left: auto;
    right: 0;
}
.clip:before{
    background-position:0 0;
}
.addword:before{
    background-position:-38px 0;
}
.addselection:before{
    background-position:-76px 0;
}
#confirm:before{
    background-position:-261px 0;
    width: 26px;
}
#cancel:before{
    background-position:-185px 0;
    width: 26px;
}
.clearall:before{
    background-position:-188px 0;
}
.save:before{
    background-position:-113px 0;
}
.addarrow:before{
    background-position:-152px 0;
}
#imgcanvas {
    width: 800px;
    height: 600px;
    background: #ccc;
    border: 1px solid orange;
    position: relative;
}

.imgbtns {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}
.imgbtns .customopelist{
    background: rgb(70, 67, 67);
    padding: 5px;
}
.imgbtns a {
    display: inline-block;
    cursor: pointer;
    padding: 3px 3px;
    height: 20px;
}
.imgbtns a.on,.imgbtns a:hover{
    background: rgb(113, 110, 110);
}
#rect,
#text {
    border: 2px solid green;
    position: absolute;
    display: none;
    box-sizing: border-box;
    height: 30px;
    width: 100px;
}

#text {
    border: 1px dashed yellow;
    background: none;
    font-size: 16px;
    color: red;
}

#imgcanvas .confirm {
    background: rgba(0,0,0,.8);
    color: rgb(51, 51, 51);
    position: absolute;
    display: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}
#imgcanvas .confirm>span{
    display: inline-block;
    height: auto;
}
#imgcanvas .confirm>span:before{
}
#imgcanvas .confirm>span:hover{
    background: rgb(113, 110, 110);
}
.textstyle{
    background: rgb(144, 144, 144);
    display: none;
    padding-top: 2px;
}
.textstyle span,.textstyle select{
    font-size: 12px;
}
.selectdiv{
        margin-left: 2px;
}
.selectdiv>select{
    background: #eee;
    height: 26px;
}
.textstyle .currentcolor{
    margin-left: 3px;
}
.textstyle .currentcolor>span{
    display: inline-block;
    width:26px;
    height: 26px;
    background: red;
}
.textstyle .colorlist{
    width:78px;
}
.textstyle .colorlist span{
    width:10px;
    height: 10px;
    display: inline-block;
    background: yellow;
    float:left;
    margin-left: 3px;
    margin-top: 2px;
}