.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.sprite,
.spriteaft {
    position: relative;
}

.sprite:before,
.spriteaft:after {
    content: '';
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    background: url(../img/sprite.png) no-repeat;
    width: 25px;
    height: 22px;
}

.spriteaft:after {
    left: auto;
    right: 0;
}
.clip:before{
    background-position:-33px 0;
}
.addword:before{
    background-position:-66px 0;
}
.addselection:before{
    background-position:3px 0;
}
#confirm:before{
    background-position:-135px 0;

}
#cancel:before{
    background-position:-169px 0;

}
.clearall:before{
    background-position:-100px 0;
}
#imgcanvas {
    width: 800px;
    height: 600px;
    background: #ccc;
    border: 1px solid orange;
    position: relative;
}

.imgbtns {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}
.imgbtns .customopelist{
    padding: 0 10px;
    background: rgba(0,0,0,.3);
}
.imgbtns a {
    display: inline-block;
    cursor: pointer;
    padding:0 3px;
}
.imgbtns a.on{
    background: red;
}
#rect,
#text {
    border: 2px solid green;
    position: absolute;
    display: none;
    box-sizing: border-box;
    height: 30px;
    width: 100px;
}

#text {
    border: 1px dashed yellow;
    background: none;
    font-size: 16px;
    color: red;
}

#imgcanvas .confirm {
    height: 18px;
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    position: absolute;
    display: none;
    padding: 5px;
    cursor: pointer;
}
#imgcanvas .confirm>span{
    display: inline-block;
    height: auto;
}
#imgcanvas .confirm>span:before{
}
#imgcanvas .confirm>span:hover{
    background: #efefef;
}
.textstyle{
    margin-top:2px;
    background: rgba(0,0,0,.9);
    padding: 0 10px;
}
.textstyle span,.textstyle select{
    font-size: 12px;
}
.selectdiv>select{
    background: #eee;
    height: 26px;
}
.textstyle .currentcolor{
    margin-left: 3px;
}
.textstyle .currentcolor>span{
    display: inline-block;
    width:26px;
    height: 26px;
    background: red;
}
.textstyle .colorlist{
    width:78px;
}
.textstyle .colorlist span{
    width:10px;
    height: 10px;
    display: inline-block;
    background: yellow;
    float:left;
    margin-left: 3px;
    margin-top: 2px;
}